extends templates/head
block content
  if users.length > 0
    
    table.table.table-dark
      thead
        tr
          th.text-center.text-dark Юзеры
      tbody
        each user in users
          tr
            td.text-center
              form.row.justify-content-center(action='/users', method='POST')
                input.bg-dark.text-success.border-warning.mr-5.col-5.form-control(value=user.username, name='username')
                input(type='hidden', value=user._id, name='id')
                button.col-1.btn.btn-warning EDIT
            td.text-center
              form(style='margin-left: 20px; display: inline', action='/users', method='POST')
                input(type='hidden', value=user._id, name='id')
                input(type='hidden', value='delete', name='method')
                button.btn.btn-danger DEL
  else
    h3 No users found
